.GameDetail {
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ff7676;
    }
    &::-webkit-scrollbar-track {
        background-color: #fdd;
    }

    scrollbar-color: #ff7676 #fdd;
    scrollbar-width: thin;

    .detail {
        width: 80%;
        min-height: 90vh;
        border-radius: 1rem;
        padding: 2rem 5rem;
        background-color: white;
        position: absolute;
        left: 10%;
        color: black;
        z-index: 10;

        img {
            width: 100%;
        }

        .stats {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            text-align: center;

            .rating {
                margin: auto;
                h3 {
                    font-size: 1.5rem;
                }

                img {
                    display: inline;
                    width: 2rem;
                }
            }

            .info {
                text-align: center;
                margin: auto;

                .platforms {
                    display: flex;
                    justify-content: space-evenly;
                    gap: 2rem;

                    img {
                        max-width: 3rem;
                    }
                }
            }
        }

        .media {
            margin-top: 5rem;

            img {
                width: 100%;
            }
        }

        .description {
            margin: 5rem 0;
            text-align: justify;
        }
    }
}

@media (max-width: 700px) {
    .GameDetail {
        .detail {
            padding: 2rem 3rem;

            .stats .info {
                margin-top: 1rem;
                .platforms {
                    flex-wrap: wrap;
                    padding: 0 6rem;
                }
            }

            .media {
                margin-top: 3rem;
            }

            .description {
                margin: 3rem 0;
            }
        }
    }
}

@media (max-width: 500px) {
    .GameDetail {
        .detail {
            padding: 2rem;
            .stats {
                .rating {
                    img {
                        width: 1.5rem;
                    }
                }
                .info {
                    .platforms {
                        padding: 0 3rem;
                        img {
                            width: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}
