.Nav {
    margin: 2rem 0;
    padding: 0 5rem;
    text-align: center;

    .logo_wrapper {
        display: grid;
        place-items: center;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem auto;
            cursor: pointer;

            h1 {
                font-family: "Abril Fatface", cursive;
                font-weight: lighter;
                color: #ff7676;
                font-size: 2rem;
            }

            img {
                display: inline;
                margin-right: 1rem;
                width: 2rem;
                height: 2rem;
            }
        }
    }

    .search {
        input {
            width: 30%;
            font-size: 1.5rem;
            padding: 0.5rem;
            border: none;
            margin-top: 1rem;
            border-radius: 0.5rem 0 0 0.5rem;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);

            &:hover {
                box-shadow: 0 0 30px rgba(255, 118, 118, 0.5);
                outline: 1px solid #ff7676;
                -moz-outline-radius: 0.5rem 0 0 0.5rem;
            }

            &:focus {
                box-shadow: 0 0 30px rgba(255, 118, 118, 0.8);
                outline: 2px solid #ff7676;
                -moz-outline-radius: 0.5rem 0 0 0.5rem;
            }
        }

        button {
            font-size: 1.5rem;
            border: none;
            padding: 0.5rem 2rem;
            cursor: pointer;
            background-color: #ff7676;
            color: white;
            border-radius: 0 0.5rem 0.5rem 0;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);

            &:hover,
            &:focus {
                box-shadow: 0 0 30px rgba(255, 118, 118, 0.5);
                filter: brightness(110%);
            }

            &:hover {
                outline: 1px solid #ff7676;
                -moz-outline-radius: 0 0.5rem 0.5rem 0;
            }
            &:focus {
                outline: 2px solid #ff7676;
                -moz-outline-radius: 0 0.5rem 0.5rem 0;
            }
        }
    }

    .section_nav {
        margin-top: 3rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        a {
            text-decoration: underline;
            margin: 0 1rem;
            padding: 0.5rem;
            font-size: 1.1rem;
            cursor: pointer;

            &:first-child,
            &:last-child {
                margin: 0;
            }

            &:hover,
            &:focus {
                color: #ff7676;
            }
        }
    }
}

@media (max-width: 1400px) {
    .Nav {
        .search {
            input {
                width: 50%;
            }
        }
    }
}

@media (max-width: 700px) {
    .Nav {
        .search {
            input {
                width: 70%;
            }
        }
    }
}

@media (max-width: 500px) {
    .Nav {
        .search {
            button {
                padding: 0.5rem 1rem;
            }
        }
    }
}

@media (max-width: 400px) {
    .Nav {
        .search {
            input {
                width: 60%;
            }
        }
    }
}

@media (max-width: 300px) {
    .Nav {
        .search {
            input {
                width: 50%;
            }
        }
    }
}
