.PreLoader {
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 90vh;

    .logo {
        width: 5rem;
        animation: blinking 0.5s ease-in infinite;
    }
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*
import logo from "../../images/logo.svg";

<div className="PreLoader">
    <img className="logo" src={logo} alt="Pre Loader Logo"/>
</div>
*/
