.PreLoader {
    display: grid;
    place-items: center;
    width: 100%;
    min-height: 90vh;

    img.logo {
        width: 5rem;
        animation: blinking 0.5s ease-in infinite;
    }
}

.loader_wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

@keyframes blinking {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
